*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f5f5f5;
}

/*Top Bar Styling*/
#top_bar{
	background-color: #e3142c;
}
.phone_icon{
	transform: scaleX(-1);
}
.contry_list{
	border: 3px solid #e85768;
}
#top_bar li{
	text-align: center;
	padding: 5px 0;
}
#top_bar li a{
	text-decoration: none;
	color: #c0bfbf;
	padding: 1px;
}

/* Header Styling */
#header{
	background-color: #f5f5f5;
	border-bottom: 3px solid #e3142c;
}
.header_container{
	max-width: 1475px;
}
#header ul li a p:hover{
	border-bottom: 5px solid #e3142c;
	transform: scale(1.05);
	transition: 0.9s;
}

/* Tour Location Styling */
#tour_location{
	background-color: #1e2e3e;
}
.tour_location_container{
	max-width: 1475px;
}
#tour_location h6{
	color: #bcbec1;
}
#tour_location p span{
	color: #bcbec1;
}

/* Search Now Styling */
#search_now{
	background-color: #ffffff;
}
#search_now h3{
	color: #031538;
}
#search_now p{
	color: #848282;
}
#search_now input{
	background-color: #f5f5f5;
}
#search_now .date_to{
	margin-top: 40px;
}
#search_now .green_btn{
	margin-top: 80px;
}
#search_now .search_btn{
	background-color: #97d037;
	color: white;
}
#search_now .icon{
  	background-color: #7cbb00;
  	color: white;
  	padding: 10px;
}

/* Split Screen */
.wrap{
    width: 100%;
}
.floatleft{
    float:left; 
    width: 20%;
}
.floatright{
	float: right;
    height: auto;
    width: 80%;
}

/* Map Image and Navbar */
.map_img{
	position: relative;
	width: 100%;
}
.map_img img{
	width: 100%;
	height: auto;
}
.map_img .button{
  	position: absolute;
  	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
  	border: none;
  	cursor: pointer;
}
.plus_color{
	color: #97d037;
	cursor: pointer;
}

/* Content Right Side */
.dubai_img{
	position: relative;
}
.dubai_img_overlay{
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .9s ease;
  	background-color: rgba(92, 108, 118, .6);
}
.icon_img{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	transition: .9s ease;
  	opacity: 0;
}
.heart_icon{
	position: absolute;
  	top: 8px;
  	right: 16px;
  	font-size: 25px;
  	transition: .9s ease;
  	opacity: 0;
  	color: #ffffff;
  	cursor: pointer;
}
.dubai_img:hover .dubai_img_overlay{
  	opacity: 1;
}
.dubai_img:hover .icon_img{
  	opacity: 1;
}
.dubai_img:hover .heart_icon{
  	opacity: 1;
}
.city_tour_txt{
	font-size: 15px;
}
.btn_circle {
  	width: 30px;
  	height: 30px;
  	text-align: center;
  	padding: 6px 0;
  	font-size: 12px;
  	line-height: 1.428571429;
  	border-color: black;
  	border-radius: 15px;
  	background-color: transparent;
  	opacity: 0.2;
}
.btn_circle:hover{
	transform: scale(1.05);
	border-color: #eb5a6b;
	color: #eb5a6b;
	opacity: 1;
}
.tooltip-inner{
    white-space: pre-line;
    background-color: #1e2e3e;
    text-align: left;
    max-width: 100%;
    border-radius: 0;
    padding: 15px;
}
.check_circle{
    border-radius: 50%;
    background-color: #40b003;
    text-align: center;
    color: white;
    padding: 2px;
}
.book_tour p{
	color: #a4a4a4;
}
.book_tour button{
	border-radius: 0;
	background-color: #d9d9d9;
	color: white;
}
.buttons{
	border-radius: 0;
	background-color: #f5f5f5;
	color: #a1a1a1;
}
.buttons:hover{
	background-color: #e3142c;
	color: #ffffff;
}
.more{
	color: #fbc404;
}
.orange_box{
	width: 40%;
	padding: 10px;
}
.prog_bar{
	height: 20px;
}
.prog_bar1{
	width: 98%;
	background-color: #6fb506;
}
.prog_bar2{
	width: 80%;
	background-color: #6fb506;
}
.prog_bar3{
	width: 50%;
	background-color: #6fb506;
}
.prog_bar4{
	width: 35%;
	background-color: #6fb506;
}
.prog_bar5{
	width: 20%;
	background-color: #6fb506;
}
.social_icon{
	padding: 30px 0;
}
.text_box{
	background-color: #e5e5e5;
}

/* Footer Styling */
#footer{
	padding: 100px 50px;
	background-color: #ffffff;
}
#footer ul li{
	padding: 5px 0;
	opacity: 0.5;
}
#footer ul li i{
	padding-right: 10px;
}
.dubai_shubai_news p:nth-of-type(odd){
	color: #7f7f7f;
}
.dubai_shubai_news p:nth-of-type(even){
	color: #cccccc;
}
#footer input{
	background-color: #f5f5f5;
}
#footer .icon{
  	padding: 10px;
  	background: #97d037;
  	color: white;
  	min-width: 35px;
  	text-align: center;
}
.mailing_list p{
	color: #939393;
}

/* Media Queries */
@media only screen and (max-width: 1200px){
	#main_content .navigation_bar h3{
		font-size: 20px;
	}
	#main_content .navigation_bar p{
		font-size: 12px;
	}
	#footer{
		padding: 70px 30px;
		background-color: #ffffff;
	}
}
@media only screen and (max-width: 992px){
	#header p{
		font-size: 13px;
	}
	.wrap{
    	width: 100%;
	}
	.floatleft{
		float:left; 
    	width: 100%;
	}
	.floatright{
		float: right;
    	height: auto;
    	width: 100%;
	}
	.social_icon{
		padding: 10px 0;
	}
	.map_img .button{
		font-size: 12px;
	}
	.orange_box{
		width: 15%;
		padding: 10px;
	}
}
@media only screen and (max-width: 768px){
	.orange_box{
		width: 20%;
		padding: 10px;
	}
	#footer{
		padding: 50px 20px;
		background-color: #ffffff;
	}
}
@media only screen and (max-width: 657px){

	.prog_bar{
		height: 25px;
	}
}
@media only screen and (max-width: 576px){
	#header p{
		font-size: 16px;
		padding: 5px 0;
	}
	#search_now .when{
		margin-top: 15px
	}
	#search_now .date_to{
		margin-top: 25px;
	}	
	#search_now .green_btn{
		margin-top: 25px;
	}
	.orange_box{
		width: 50%;
		padding: 10px;
	}
}
